<!-- 
privacy.ejs

Privacy Policy page detailing how user data is collected, processed, shared, and protected. Covers tracking technologies, data retention, user rights, and international data transfers. Includes a Notice for European users outlining GDPR compliance and legal bases for data processing.

Author: Scott Griffin
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Privacy Policy</title>
  <!-- Stylesheet -->
  <style>
    /* Import Adobe Typekit */
    @import url("https://use.typekit.net/tae2hei.css");

    /* Base styles */
    body {
      background-color: #000;
      color: #fff;
      font-family: "acumin-pro", sans-serif;
      font-weight: 400;
      font-style: normal;
      padding: 2em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1,
    h2,
    p {
      margin-bottom: 1em;
    }

    a {
      color: #fff;
      text-decoration: underline;
    }

    /* Logo styles */
    .logo {
      display: block;
      margin: 0 auto 20px;
      width: 80%;
      max-width: 1000px;
      height: auto;
    }

    /* Main content container */
    .container {
      width: 80%;
      text-align: left;
    }

    /* Footer links */
    .footer-links {
      margin-top: 2em;
      text-align: center;
    }

    .footer-links a {
      color: #fff;
      text-decoration: underline;
      cursor: pointer;
    }

    /* Responsive media query for mobile devices */
    @media (max-width: 768px) {
      .logo {
        width: 90%;
      }

      .container {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <!-- Logo -->
  <a href="/">
    <img src="https://d1xwysupjizl5b.cloudfront.net/headerlogo.png" alt="WTR? Logo" class="logo">
  </a>
  <!-- Main content -->
  <div class="container">
    <h2>Privacy Policy</h2>
    <h2>Effective as of October 20, 2024.</h2>

    <p>whattheradio.io, doing business as WTR ("WTR," "we", “us” or "our") operates whattheradio.io, a web application
      to create, listen to, and share simulated radio stations (the “WTR Platform”). This Privacy Policy describes how
      WTR processes personal information that we collect through the WTR Platform and any other digital or online
      properties or services that link to this Privacy Policy (including as applicable, our website and social media
      pages) as well as our marketing activities and other activities described in this Privacy Policy (collectively
      with the WTR Platform, the “Service”).
    </p>
    <p>NOTICE TO EUROPEAN USERS: Please see the Notice to European Users section for additional information for
      individuals located in the European Economic Area or United Kingdom (which we refer to as “Europe”, and “European”
      should be understood accordingly) below.</p>
    <p>
      Index
    </p>

    <ul>
      <li>Personal Information we collect</li>
      <li>Tracking Technologies</li>
      <li>How we use your personal information</li>
      <li>Retention</li>
      <li>How we share your personal information</li>
      <li>Your choices</li>
      <li>Other sites and services</li>
      <li>Security</li>
      <li>International data transfers</li>
      <li>Children</li>
      <li>Changes to this Privacy Policy</li>
      <li>How to contact us</li>
      <li>Notice to European users</li>
    </ul>

    <h1>Personal Information we collect</h1>
    <h2>Personal information you may provide to us through the Service or otherwise includes:</h2>
    <ul>
      <li>Contact data, such as your first and last name, email address, billing address, and phone number.</li>
      <li>Communications data based on our exchanges with you, including when you contact us through the Service, social
        media, or otherwise.</li>
      <li>Profile data, such as the username and password that you may set to establish an online account on the
        Service, and any other information that you provide or upload to the Service.</li>
      <li>Marketing data, such as your preferences for receiving our marketing communications and details about your
        engagement with them.</li>
      <li>Payment data needed to complete transactions, including payment card information or bank account number.</li>
      <li>Other data not specifically listed here, which we will use as described in this Privacy Policy or as otherwise
        disclosed at the time of collection.</li>
    </ul>
    <h2>Third-party sources. We may receive personal information about you from the following third-party sources, and
      we may combine that personal information with personal information that we receive from you:</h2>
    <h2>Public sources</h2>
    <ul>
      <li>Marketing and advertising companies, with whom we may partner or with whom we may otherwise work or
        collaborate for marketing and advertising purposes.</li>
    </ul>
    <h2>Service provides</h2>
    <ul>
      <li>Business transaction partners. We may receive personal information in connection with an actual or prospective
        business transaction. For example, we may receive your personal information from an entity we acquire or are
        acquired by, a successor, or assignee or any party involved in a business transaction such as a merger,
        acquisition, sale of assets, or similar transaction, and/or in the context of an insolvency, bankruptcy, or
        receivership.</li>
    </ul>
    <h2>Third-party services</h2>
    <h2>Automatic data collection. We, our service providers, and our business partners may automatically log
      information about you, your computer or mobile device, and your interaction over time with the Service, our
      communications and other online services, such as:</h2>
    <ul>
      <li>Device data, such as your computer or mobile device’s operating system type and version, manufacturer and
        model, browser type, screen resolution, RAM and disk size, CPU usage, device type (e.g., phone, tablet), IP
        address, unique identifiers (including identifiers used for advertising purposes), language settings, mobile
        device carrier, radio/network information (e.g., Wi-Fi, LTE, 3G), and general location information such as city,
        state or geographic area.</li>
      <li>Online activity data, such as pages or screens you viewed, how long you spent on a page or screen, the website
        you visited before browsing to the Service, navigation paths between pages or screens, information about your
        activity on a page or screen, access times and duration of access, and whether you have opened our emails or
        clicked links within them.</li>
      <li>Communication interaction data such as your interactions with our email or other communications (e.g., whether
        you open and/or forward emails) – we may do this through use of pixel tags (which are also known as clear GIFs),
        which may be embedded invisibly in our emails.</li>
    </ul>

    <h2>For more information concerning our automatic collection of data, please see the Tracking Technologies section
      below.</h2>
    <h1>Tracking Technologies</h1>
    <h2>Cookies and other technologies. Some of the automatic collection described above is facilitated by the following
      technologies:</h2>

    <ul>
      <li>Cookies, which are small text files that websites store on user devices and that allow web servers to record
        users’ web browsing activities and remember their submissions, preferences, and login status as they navigate a
        site. Cookies used on our sites include “session cookies” that are deleted when a session ends.</li>
      <li>Local storage technologies, like HTML5, that provide cookie-equivalent functionality but can store larger
        amounts of data on your device outside of your browser in connection with specific applications.</li>
      <li>Web beacons, also known as pixel tags or clear GIFs, which are used to demonstrate that a webpage or email was
        accessed or opened, or that certain content was viewed or clicked.</li>
    </ul>
    <p>For information concerning your choices with respect to the use of tracking technologies, see the Your choices
      section, below.</p>
    <h1>How we use your personal information</h1>
    <p>We may use your personal information for the following purposes or as otherwise described at the time of
      collection:</p>
    <h2>Service delivery and operations. We may use your personal information to:</h2>
    <ul></ul>
    <li>Provide the Service;</li>
    <li>Enable security features of the Service;</li>
    <li>Establish and maintain your user profile on the Service;</li>
    <li>Facilitate social features of the Service;</li>
    <li>Communicate with you about the Service, including by sending Service-related announcements, updates, security
      alerts, and support and administrative messages;</li>
    <li>Provide support for the Service, and respond to your requests, questions and feedback.</li>
    </ul>
    <h2>Service improvement and analytics. We may use your personal information to analyze your usage of the Service,
      improve the Service, improve the rest of our business, help us understand user activity on the Service, including
      which pages are most and least visited and how visitors move around the Service, as well as user interactions with
      our emails, and to develop new products and services.</h2>

    <h2>Marketing and advertising. We, our service providers may collect and use your personal information for marketing
      and advertising purposes:</h2>
    <ul>
      <li>Direct marketing (which you may opt out of).</li>
    </ul>

    <h2>Compliance and protection. We may use your personal information to:</h2>

    <ul>
      <li>Comply with applicable laws, lawful requests, and legal process, such as to respond to subpoenas,
        investigations or requests from government authorities;</li>
      <li>Protect our, your or others’ rights, privacy, safety or property (including by making and defending legal
        claims);</li>
      <li>Audit our internal processes for compliance with legal and contractual requirements or our internal policies;
      </li>
      <li>Enforce the terms and conditions that govern the Service; and</li>
      <li>Prevent, identify, investigate and deter fraudulent, harmful, unauthorized, unethical or illegal activity,
        including cyberattacks and identity theft.</li>
    </ul>

    <h2>Data sharing in the context of corporate events, we may share certain personal information in the context of
      actual or prospective corporate events – for more information, see the How we share your personal information
      section below.
      To create aggregated, de-identified and/or anonymized data. We may create aggregated, de-identified and/or
      anonymized data from your personal information and other individuals whose personal information we collect. We
      make personal information into de-identified and/or anonymized data by removing information that makes the data
      identifiable to you and we will not attempt to reidentify any such data. We may use this aggregated, de-identified
      and/or anonymized data and share it with third parties for our lawful business purposes, including to analyze and
      improve the Service and promote our business.
    </h2>
    <p>Further uses, in some cases, we may use your personal information for further uses, in which case we will ask for
      your consent to use of your personal information for those further purposes if they are not compatible with the
      initial purpose for which information was collected.</p>
    <h1>Retention</h1>
    <h2>We generally retain personal information to fulfill the purposes for which we collected it, including for the
      purposes of satisfying any legal, accounting, or reporting requirements, to establish or defend legal claims, or
      for fraud prevention purposes. To determine the appropriate retention period for personal information, we may
      consider factors such as the amount, nature, and sensitivity of the personal information, the potential risk of
      harm from unauthorized use or disclosure of your personal information, the purposes for which we process your
      personal information and whether we can achieve those purposes through other means, and the applicable legal
      requirements.</h2>
    <p>When we no longer require the personal information we have collected about you, we may either delete it,
      anonymize it, or isolate it from further processing.
    </p>
    <h1>How we share your personal information</h1>

    <p>We may share your personal information with the following parties and as otherwise described in this Privacy
      Policy, in other applicable notices, or at the time of collection. We make commercially reasonable efforts to
      verify that the parties with whom our mobile application shares personal information provide a level of protection
      of personal information consistent with the practices described in this Privacy Policy, except that all such
      parties described below other than service providers and affiliates may, to the extent permitted by law, use
      personal information as described in their own privacy policies.</p>
    <p>Service providers. Third parties that provide services on our behalf or help us operate the Service or our
      business (such as hosting, information technology, customer support, email delivery, marketing, consumer research
      and website analytics).</p>

    <p>Payment processors. Any payment card information you use to make a purchase on the Service is collected and
      processed directly by our payment processors, such as Stripe. Stripe may use your payment data in accordance with
      its privacy policy, https://stripe.com/privacy. </p>
    <p>Third parties designated by you. We may share your personal information with third parties where you have
      instructed us or provided your consent to do so.</p>

    <p>Linked third-party services. If you log into the Service with, or otherwise link your Service account to, a
      social media or other third-party service, we may share your personal information with that third-party service.
      The third party’s use of the shared information will be governed by its privacy policy and the settings associated
      with your account with the third-party service.</p>

    <p>Professional advisors. Professional advisors, such as lawyers, auditors, bankers and insurers, where necessary in
      the course of the professional services that they render to us.</p>
    <p>Authorities and others. Law enforcement, government authorities, and private parties, as we believe in good faith
      to be necessary or appropriate for the Compliance and protection purposes described above.</p>
    <p>Business transferees. We may disclose personal information in the context of actual or prospective business
      transactions (e.g.,investments in WTR, financing of WTR, public stock offerings, or the sale, transfer or merger
      of all or part of our business, assets or shares), for example, we may need to share certain personal information
      with prospective counterparties and their advisers. We may also disclose your personal information to an acquirer,
      successor, or assignee of WTR as part of any merger, acquisition, sale of assets, or similar transaction, and/or
      in the event of an insolvency, bankruptcy, or receivership in which personal information is transferred to one or
      more third parties as one of our business assets.</p>

    <p>Other users and the public. Your profile and other user-generated content may be visible to other users of the
      Service and the public. For example, when you choose to create a simulated radio station through the WTR Platform,
      any content you provide may be made available to other users of the WTR Platform or the public. This content can
      be seen, collected and used by others, including being cached, copied, screen captured or stored elsewhere by
      others (e.g., search engines), and we are not responsible for any such use of this information.</p>

    <h1>Your choices</h1>
    <h2>Access or update your information. You may opt-out of marketing-related emails by following the opt-out or
      unsubscribe instructions at the bottom of the email, or by emailing us such notice at disagreeonline@gmail.com.
      Please note that if you choose to opt-out of marketing-related emails, you may continue to receive service-related
      and other non-marketing emails.</h2>
    <p>Cookies and other technologies. Most browsers let you remove or reject cookies. To do this, follow the
      instructions in your browser settings. Many browsers accept cookies by default until you change your settings.
      Please note that if you set your browser to disable cookies, the Service may not work properly. For more
      information about cookies, including how to see what cookies have been set on your browser and how to manage and
      delete them, visit www.allaboutcookies.org. You can also configure your device to prevent images from loading to
      prevent web beacons from functioning.</p>
    <h2>Blocking images/clear gifs: Most browsers and devices allow you to configure your device to prevent images from
      loading. To do this, follow the instructions in your particular browser or device settings.</h2>

    <h2>Privacy settings. </h2>
    <p>Advertising choices. You may be able to limit use of your information for interest-based advertising through the
      following settings/options/tools:</p>
    <ul></ul>
    <li>Browser settings. Changing your internet web browser settings to block third-party cookies.</li>
    <li>Privacy browsers/plug-ins. Using privacy browsers and/or ad-blocking browser plug-ins that let you block
      tracking technologies.</li>
    <li>Platform settings. Google and Facebook offer opt-out features that let you opt-out of use of your information
      for interest-based advertising. You may be able to exercise that option at the following websites:
      <ul>
        <li>Google: <a href="https://adssettings.google.com/" target="_blank">https://adssettings.google.com/</a></li>
        <li>Facebook: <a href="https://www.facebook.com/about/ads"
            target="_blank">https://www.facebook.com/about/ads</a></li>
      </ul>
    </li>
    <li>Ad industry tools. Opting out of interest-based ads from companies that participate in the following industry
      opt-out programs:
      <ul>
        <li>Network Advertising Initiative: <a href="http://www.networkadvertising.org/managing/opt_out.asp"
            target="_blank">http://www.networkadvertising.org/managing/opt_out.asp</a></li>
        <li>Digital Advertising Alliance: <a href="https://optout.aboutads.info"
            target="_blank">optout.aboutads.info</a></li>
        <li>AppChoices mobile app, available at <a href="https://www.youradchoices.com/appchoices"
            target="_blank">https://www.youradchoices.com/appchoices</a>, which will allow you to opt-out of
          interest-based ads in mobile apps served by participating members of the Digital Advertising Alliance.</li>
      </ul>
    </li>
    </ul>

    <p>You will need to apply these opt-out settings on each device and browser from which you wish to limit the use of
      your information for interest-based advertising purposes.</p>

    <p>We cannot offer any assurances as to whether the companies we work with participate in the opt-out programs
      described above.</p>

    <h2>Do Not Track. Some Internet browsers may be configured to send “Do Not Track” signals to the online services
      that you visit. We currently do not respond to “Do Not Track” signals. To find out more about “Do Not Track,”
      please visit http://www.allaboutdnt.com.
    </h2>
    <h2>Declining to provide information. We need to collect personal information to provide certain services. If you do
      not provide the information we identify as required or mandatory, we may not be able to provide those services.
    </h2>
    <p>Delete your content or close your account. You can choose to delete certain content through your account. If you
      wish to request to close your account, please email us at disagreeonline@gmail.com.
    </p>
    <h1>Other sites and services</h1>
    <h2>The Service may contain links to websites, mobile applications, and other online services operated by third
      parties. In addition, our content may be integrated into web pages or other online services that are not
      associated with us. These links and integrations are not an endorsement of, or representation that we are
      affiliated with, any third party. We do not control websites, mobile applications or online services operated by
      third parties, and we are not responsible for their actions. We encourage you to read the privacy policies of the
      other websites, mobile applications and online services you use.</h2>
    <h1>Security</h1>
    <h2>We employ technical, organizational and physical safeguards designed to protect the personal information we
      collect. However, security risk is inherent in all internet and information technologies and we cannot guarantee
      the security of your personal information.
    </h2>
    <h1>International data transfers</h1>
    <h2>We are headquartered in the United States and may use service providers that operate in other countries. Your
      personal information may be transferred to the United States or other locations where privacy laws may not be as
      protective as those in your state, province, or country.
    </h2>
    <p>Users in Europe should read the important information provided below about transfer of personal information
      outside of Europe.
    </p>
    <h1>Children
    </h1>
    <h2>The Service is not intended for use by anyone under 18 years of age. If you are a parent or guardian of a child
      from whom you believe we have collected personal information in a manner prohibited by law, please email us at
      disagreeonline@gmail.com. If we learn that we have collected personal information through the Service from a child
      without the consent of the child’s parent or guardian as required by law, we will comply with applicable legal
      requirements to delete the information.</h2>
    <h1>Changes to this Privacy Policy</h1>
    <h2>We reserve the right to modify this Privacy Policy at any time. If we make material changes to this Privacy
      Policy, we will notify you by updating the date of this Privacy Policy and posting it on the Service or other
      appropriate means. Any modifications to this Privacy Policy will be effective upon our posting the modified
      version (or as otherwise indicated at the time of posting). In all cases, your use of the Service after the
      effective date of any modified Privacy Policy indicates your acknowledging that the modified Privacy Policy
      applies to your interactions with the Service and our business.</h2>
    <h1>How to contact us</h1>
    <ul>
      <li>Email: disagreeonline@gmail.com</li>
    </ul>
    <h1>Notice to European users</h1>
    <p>General</p>
    <p>Where this Notice to European users applies. The information provided in this “Notice to European users” section
      applies only to individuals in the United Kingdom and the European Economic Area (i.e., “Europe” as defined at the
      top of this Privacy Policy).</p>
    <h2>Controller. WTR is the controller in respect of the processing of your personal information covered by this
      Privacy Policy for purposes of the “GDPR” (i.e., the EU General Data Protection Regulation 2016/679 and the
      so-called ‘UK GDPR’). See the ‘How to contact us’ section above for our contact details.
    </h2>
    <p>Personal information. References to “personal information” in this Privacy Policy should be understood to include
      a reference to “personal data” (as defined in the GDPR) – i.e., information about individuals from which they are
      either directly identified or can be identified.</p>
    <p>Our legal bases for processing</p>
    <h2>In respect of each of the purposes for which we use your personal information, the GDPR requires us to ensure
      that we have a “legal basis” for that use.</h2>
    <h2>Our legal bases for processing your personal information described in this Privacy Policy are listed below.</h2>
    <ul>
      <li>Where we need to perform a contract, we are about to enter into or have entered into with you (“Contractual
        Necessity”).</li>
      <li>Where it is necessary for our legitimate interests and your interests and fundamental rights do not override
        those interests (“Legitimate Interests”). More detail about the specific legitimate interests pursued in respect
        of each Purpose we use your personal information for is set out in the table below.</li>
      <li>Where we need to comply with a legal or regulatory obligation (“Compliance with Law”).</li>
      <li>Where we have your specific consent to carry out the processing for the Purpose in question (“Consent”).</li>
    </ul>
    <p>We have set out below, in a table format, the legal bases we rely on in respect of the relevant purposes for
      which we use your personal information – for more information on these purposes and the data types involved, see
      ‘How we use your personal information’.</p>
    <ul>
      <li>Purpose: Service delivery and operations
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Contact data</li>
              <li>Profile data</li>
              <li>Communications data</li>
              <li>Payment data</li>
              <li>Recordings and other user-generated content</li>
              <li>Device data</li>
              <li>Data about others</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Contractual Necessity</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: Service personalization
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Profile data</li>
              <li>Recordings and other user-generated content</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Legitimate Interests
                <ul>
                  <li>We have a legitimate interest in enhancing our users' experience by tailoring services to meet
                    individual preferences.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: Service improvement and analytics
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Profile data</li>
              <li>Recordings and other user-generated content</li>
              <li>Device data</li>
              <li>Online activity data</li>
              <li>Location data</li>
              <li>Communication interaction data</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Legitimate Interests
                <ul>
                  <li>We have a legitimate interest in analysing how users use the Service to identify issues,
                    streamline operations, and optimize the overall user experience.</li>
                </ul>
              </li>
              <li>Consent, in respect of any optional cookies used for this purpose.</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: Direct marketing
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Contact data</li>
              <li>Profile data</li>
              <li>Communications data</li>
              <li>Payment data</li>
              <li>Marketing data</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Legitimate Interests
                <ul>
                  <li>We have a legitimate interest in promoting our operations and goals as an organisation and sending
                    marketing communications for that purpose.</li>
                </ul>
              </li>
              <li>Consent, in circumstances or in jurisdictions where consent is required under applicable data
                protection laws to the sending of any given marketing communications.</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: Interest-based advertising
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Device data</li>
              <li>Online activity data</li>
              <li>Location data</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Consent</li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: Compliance and protection
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Any and all data types relevant in the circumstances</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Compliance with Law</li>
              <li>Legitimate Interests
                <ul>
                  <li>Where Compliance with Law is not applicable, we have a legitimate interest in participating in,
                    supporting, and following legal process and requests, including through co-operation with
                    authorities. We may also have a legitimate interest in ensuring the protection, maintenance, and
                    enforcement of our rights, property, and/or safety.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: Data sharing in the context of corporate events
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Any and all data types relevant in the circumstances</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Legitimate Interests
                <ul>
                  <li>We have a legitimate interest in sharing personal information in the context of certain corporate
                    events to ensure the continuity of the Service and the ongoing operation of our business.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li>Purpose: To create aggregated, de-identified and/or anonymized data
        <ul>
          <li>Categories of personal information involved:
            <ul>
              <li>Any and all data types relevant in the circumstances</li>
            </ul>
          </li>
          <li>Legal basis:
            <ul>
              <li>Legitimate Interests
                <ul>
                  <li>We have a legitimate interest in creating aggregated, de-identified and/or anonymized data to use
                    for research purposes without infringing on our users' privacy.</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <p>Retention</p>
    <p>We retain personal information for as long as necessary to fulfill the purposes for which we collected it,
      including for the purposes of satisfying any legal, accounting, or reporting requirements, to establish or defend
      legal claims, or for compliance and protection purposes.</p>
    <p>To determine the appropriate retention period for personal information, we consider the amount, nature, and
      sensitivity of the personal information, the potential risk of harm from unauthorized use or disclosure of your
      personal information, the purposes for which we process your personal information and whether we can achieve those
      purposes through other means, and the applicable legal requirements.</p>
    <p>When we no longer require the personal information, we have collected about you, we will either delete or
      anonymize it or, if this is not possible (for example, because your personal information has been stored in backup
      archives), then we will securely store your personal information and isolate it from any further processing until
      deletion is possible. If we anonymize your personal information (so that it can no longer be associated with you),
      we may use this information indefinitely without further notice to you.</p>
    <p>Other info</p>
    <p>No sensitive personal information. We ask that you not provide us with any sensitive personal information (e.g.,
      social security numbers, information related to racial or ethnic origin, political opinions, religion or other
      beliefs, health, biometrics or genetic characteristics, criminal background or trade union membership) on or
      through the services, or otherwise to us. If you provide us with any sensitive personal information to us when you
      use the services, you must consent to our processing and use of such sensitive personal information in accordance
      with this Privacy Policy. If you do not consent to our processing and use of such sensitive personal information,
      you must not submit such sensitive personal information through our services.</p>
    <p>No Automated Decision-Making and Profiling. As part of the Service, we do not engage in automated decision-making
      and/or profiling, which produces legal or similarly significant effects.</p>
    <p>Your rights</p>
    <h2>General. European data protection laws give you certain rights regarding your personal information. If you are
      located in Europe, you may ask us to take the following actions in relation to your personal information:</h2>
    <ul>
      <li>Access. Provide you with information about our processing of your personal information and give you access to
        your personal information.</li>
      <li>Correct. Update or correct inaccuracies in your personal information.</li>
      <li>Delete. Delete your personal information where there is no good reason for us continuing to process it – you
        also have the right to ask us to delete or remove your personal information where you have exercised your right
        to object to processing (see below).</li>
      <li>Transfer. Transfer a machine-readable copy of your personal information to you or a third party of your
        choice.</li>
      <li>Restrict. Restrict the processing of your personal information, for example, if you want us to establish its
        accuracy or the reason for processing it.</li>
      <li>Object. Object to our processing of your personal information where we are relying on Legitimate Interests –
        you also have the right to object where we are processing your personal information for direct marketing
        purposes.</li>
      <li>Withdraw Consent. When we use your personal information based on your consent, you have the right to withdraw
        that consent at any time.</li>
    </ul>
    <p>Exercising These Rights. You may submit these requests by email to disagreeonline@gmail.com. We may request
      specific information from you to help us confirm your identity and process your request. Whether or not we are
      required to fulfill any request you make will depend on a number of factors (e.g., why and how we are processing
      your personal information), if we reject any request you may make (whether in whole or in part) we will let you
      know our grounds for doing so at the time, subject to any legal restrictions.</p>
    <p>Your Right to Lodge a Complaint with your Supervisory Authority. In addition to your rights outlined above, if
      you are not satisfied with our response to a request you make, or how we process your personal information, you
      can make a complaint to the data protection regulator in your habitual place of residence.</p>
    <ul>
      <li>For users in the European Economic Area – the contact information for the data protection regulator in your
        place of residence can be found here:
        <a href="https://edpb.europa.eu/about-edpb/board/members_en"
          target="_blank">https://edpb.europa.eu/about-edpb/board/members_en</a>
      </li>
      <li>For users in the United Kingdom – the contact information for the UK data protection regulator can be found
        here:
        <a href="https://ico.org.uk/make-a-complaint/" target="_blank">https://ico.org.uk/make-a-complaint/</a>
      </li>
    </ul>
    <p>Data Processing outside Europe</p>
    <p>We are a U.S.-based company and many of our service providers, advisers, partners or other recipients of data are
      also based in the U.S. This means that, if you use the Service, your personal information will necessarily be
      accessed and processed in the U.S. It may also be provided to recipients in other countries outside Europe.</p>
    <p>It is important to note that the U.S. is not the subject of an ‘adequacy decision’ under the GDPR – basically,
      this means that the U.S. legal regime is not considered by relevant European bodies to provide an adequate level
      of protection for personal information, which is equivalent to that provided by relevant European laws.</p>
    <p>Where we share your personal information with third parties who are based outside Europe, we try to ensure a
      similar degree of protection is afforded to it by making sure one of the following mechanisms is implemented:</p>

    <ul>
      <li>Transfers to territories with an adequacy decision. We may transfer your personal information to countries or
        territories whose laws have been deemed to provide an adequate level of protection for personal information by
        the European Commission or UK Government (as and where applicable) (from time to time).</li>

      <li>Transfers to territories without an adequacy decision.
        <ul>
          <li>We may transfer your personal information to countries or territories whose laws have not been deemed to
            provide such an adequate level of protection (e.g., the U.S., see above).</li>
          <li>However, in these cases:
            <ul>
              <li>We may use specific appropriate safeguards, which are designed to give personal information
                effectively the same protection it has in Europe – for example, standard-form contracts approved by
                relevant authorities for this purpose; or</li>
              <li>In limited circumstances, we may rely on an exception, or ‘derogation’, which permits us to transfer
                your personal information to such country despite the absence of an ‘adequacy decision’ or ‘appropriate
                safeguards’ – for example, reliance on your explicit consent to that transfer.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <p>You may contact us if you want further information on the specific mechanism used by us when transferring your
      personal information out of Europe.</p>
    <!-- Footer -->
    <div class="footer-links">
      <a href="#">Back to Top</a>
    </div>
  </div>
  <!-- JavaScript for "Back to Top" -->
  <script>
    document.querySelector('a[href="#"]').addEventListener('click', function (e) {
      e.preventDefault();
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });
  </script>
</body>

</html>